body {
  background-image: linear-gradient(to bottom, rgb(147, 146, 230), rgb(223, 224, 224))
}

html {
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
